---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//Colors
$themePrimaryColor: #e86767;
$grey: #9a9da2;
$white:#FFFFFF;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"animations",
"base",
"layout",
"home",
"timeline",
"inputs"
;
