---
layout: default
---

<section class="container-fluid land-wrapper">
    <div class="filter">
        <div class="container" id="about">
            <div class="short-about-me">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <img class="img-responsive" alt="Profile Pic" src="/img/dp.jpg"/>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div>
                            <div class="profile-preword">
                                <span class="helloicon">Hello</span>
                            </div>
                            <div class="clearfix"></div>
                            <h1>I'm <strong>{{ site.firstname | escape }}</strong></h1>
                            <p class="job-desp" itemprop="jobtitle">Web Design and Developer</p>
                            <hr/>

                            <dl class="dl-horizontal">
                                <dt>E-Mail</dt>
                                <dd><div itemprop="email">{{ site.email | escape }}</div></dd>
                                <dt>Mobile</dt>
                                <dd><div itemprop="telephone">{{ site.mobile | escape }}</div></dd>
                                <dt>Date of birth</dt>
                                <dd><meta itemprop="birthDate" content="{{ site.dob | escape }}">{{ site.dob | escape }}</dd>
                                <dt>Address</dt>
                                <dd>
                                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                        <address>
                                            <span itemprop="streetAddress">S/o Manjunath Katwe #61, Bhuvaneshwari nagar, near Ramesh Bhawan, Keshwapur</span>
                                            <div>
                                                <span itemprop="addressLocality">Hubli</span>, <span itemprop="addressRegion">Karnataka <span itemprop="postalCode">580020</span></span>
                                            </div>

                                            <div itemprop="addressCountry" class="hidden">India</div>
                                        </address>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="social-shares">
                    <ul>
                        {% for social in site.data.sociallinks %}
                        <li><a href="{{social.link}}" target="_blank" rel="me">{{social.icon}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="about container">
    <div class="text-center">
        <button class="btn btn-default btn-lg">Download Resume</button>
        <p class="about-me-long" itemprop="description">Hello! I’m Keshav Katwe. I am a Web Developer specializing in front end development. I always been working with many technologies related to Web and also learning new ways to make better web experience. Well-versed in numerous programming languages including PHP, MYSQL, HTML, CSS, Javascript and many more. Always passionate to try new things.</p>
    </div>
</section>
<section class="container professional-skills" id="skills">
    <h1 class="text-center">Professional Skills</h1>
    <div class="box">
        <div class="row">


            {% for skill in site.data.skills %}
            <div class="col-md-6">
                <div class="grp">
                    <span class="pull-right">{{skill.percentage}}%</span>
                    <p>{{skill.name}}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.percentage}}%;">
                            <span class="sr-only">{{skill.percentage}}%</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<section class="container portfolio" id="portfolio">
    <h1 class="text-center">Portfolio</h1>
    <div>

        <div class="text-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
                <div class="row">
                    {% for project in site.projects%}
                    
                    
                    <div class="col-md-4">
                        <figure class="project">
                            <img src="{{project.thumbnail}}"/>
                            <figcaption>
                                <div class="main">
                                    <h4>{{project.title}}</h4>
                                    <p class="category">{{project.category}}</p>
                                    <div class="clearfix"></div>
                                    <a href="{{ project.url | prepend: site.baseurl }}"><i class="fa fa-link"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>

    </div>

</section>

<section class="container work-experience" id="experience">
    <h1 class="text-center">Work Experience</h1>

    <ul class="timeline">
        {% for experience in site.data.experiences %}
        <li itemscope itemtype="http://schema.org/Organization">
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <p class="year">{{experience.year}}</p>
                <a itemprop="name" class="company-name" href="{{experience.link}}" target="_blank">{{experience.name}}</a>
                <p class="designation">{{experience.designation}}</p>
                <p class="description">{{experience.profile}}</p>
            </div>
        </li>
        {% endfor %}
        <li class="clearfix no-float"></li>
    </ul>
</section>
<section class="container education" id="education">
    <h1 class="text-center">Education</h1>

    <ul class="timeline">

        {% for education in site.data.educations %}

        <li>
            <div class="timeline-badge">
                <a><i class="fa fa-circle" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <p class="year">{{education.year}}</p>
                <a class="degree">{{education.degree}}</a>
                <p class="college">{{education.college}}</p>
            </div>
        </li>
        {% endfor %}
        <li class="clearfix no-float"></li>
    </ul>
</section>

<section class="container awards" id="achievments">
    <h1 class="text-center">Awards and Achievements</h1>

    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="achievement">
                    <h4>ONE HALF</h4>
                    <p>
                        One of the most interesting options is to divide this section to “One half” “One Third” and “One Fourth”. You can use this for Honors or Achievments or Awards sections. You can insert images and photos right in this editor and even add call to action buttons with custom text and links. This is the example of ONE HALF option.
                    </p>
                    <a class="btn btn-default">More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="achievement">
                    <h4>ONE HALF</h4>
                    <p>
                        Same options for editing works in here as well. You can change edit and design as you wish. This can be useful in case if you have a lot of sections in resume. You can change theme as you wish with this powerful and flexible options.
                    </p>
                    <a class="btn btn-default">More</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container contact-us" id="contact">
    <h1 class="text-center">Contact Us</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="content">
                    <h4>Feel free to contact me</h4>
                    <form class="material-form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" id="name" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" id="email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="subject" id="subject" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea name="message" id="message" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="content">
                    <dl class="dl-horizontal">
                        <dt>E-Mail</dt>
                        <dd>{{ site.email | escape }}</dd>
                        <dt>Mobile</dt>
                        <dd>{{ site.mobile | escape }}</dd>
                        <dt>Skype</dt>
                        <dd>{{ site.skype | escape }}</dd>
                        <dt>Address</dt>
                        <dd>
                            <address>
                                S/o Manjunath Katwe<br>
                                #61, Bhuvaneshwari nagar, near Ramesh Bhawan, Keshwapur<br>
                                Hubli, Karnataka 580020<br>
                            </address>
                        </dd>
                    </dl>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3847.2273221716623!2d75.14776291437737!3d15.364170262027681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d756c0f8c8d1%3A0x3c2a684404a56aa6!2sUnnamed+Rd%2C+Hemanth+Nagar%2C+Bengeri+Extension%2C+Badami+Nagar%2C+Hubli%2C+Karnataka+580023!5e0!3m2!1sen!2sin!4v1463936978027" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!--<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>-->
