---
layout: project
title:  "Multi-Touch Reactable"
date:   2014-04-01 01:00:00 +0530
category: "Final Year Project"
thumbnail: /img/multitouch-og.png
display-thumbnail: /img/multitouch.png
author: Keshav Katwe
language: website
---


<div class="row">
    <div class="col-md-8">

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <figure>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3w67kY9GZnM"></iframe>
                    </div>
                </figure>
                <a class="category">{{page.category}}</a>

                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p class="post-meta">
                    <time class="hidden" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                    {% if page.author %}<i class="fa fa-user"></i> by 
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>
                    {% endif %}
                </p>
            </header>



            <div class="caption">
                <div class="post-content" itemprop="articleBody">
                    <p>
                        Multi-touch technology is an advanced human-computer interaction technique that recognizes multiple touch points and also includes the hardware devices that implement it, which allow users to compute without conventional input devices. 
                        <br/>
                        <br/>
                        Multi-touch consists of a touch screen (screen, table, wall, etc.) or touchpad, as well as software that recognize multiple simultaneous touch points, as opposed to the standard touchscreen which recognizes only one touch point at a time. Multi touch using rear diffused illumination multi-touch technique. 
                        <br/>
                        <br/>
                        Different applications for multi-touch interfaces both exist and are being proposed. Some uses are individualistic e.g. iPhone, iPod touch, MacBook Pro, MacBook Air. The use of multi-touch technology is expected to rapidly become common place.
                    </p>
                    <br/>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.slideshare.net/slideshow/embed_code/key/yoAncYVPCuHZRq"></iframe>
                    </div>
                </div>
            </div>

            <footer>
                {% include shares.html title=page.title thumbnail=page.thumbnail %}
            </footer>
        </article>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">About the project</div>
            <div class="panel-body">
                <dl>
                    <dt>Project for: </dt>
                    <dd>Academic Project</dd>
                    <dt>Role: </dt>
                    <dd>Team Leader and Developer</dd>
                    <dt>Duration </dt>
                    <dd>6 months</dd>
                    <dt>Team:</dt>
                    <dd>
                        <ul>
                            <li>Keshav M. Katwe</li>
                            <li>Vinay A. Walvekar</li>
                            <li>Mamata Kurabagatti</li>
                            <li>Nupur Tatti</li>
                        </ul>
                    </dd>
                    <dt>Achievement:</dt>
                    <dd>
                        <p>Won Best Engineering Project of the year for 2013-14 by K.S.C.S.T conducted in B.V.B.C.E.T.</p>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Tools</div>
            <div class="panel-body">
                <ul class="tools">
                    <li>PHP</li>
                    <li>Mysql</li>
                    <li>HTML/CSS</li>
                    <li>CCV</li>
                </ul>
            </div>
        </div>
    </div>
</div>