---
layout: project
title:  "Ignito Personal Template"
date:   2014-04-01 01:00:00 +0530
category: "Template"
thumbnail: /img/ignito-personal-og.png
display-thumbnail: /img/ignito-personal.png
author: Keshav Katwe
language: website
---


<div class="row">
    <div class="col-md-8">

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <figure>
                    <img src="{{page.display-thumbnail}}"/>
                </figure>

                <a class="category">{{page.category}}</a>

                <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                <p class="post-meta">
                    <time class="hidden" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                    {% if page.author %}<i class="fa fa-user"></i> by 
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>
                    {% endif %}
                </p>
            </header>



            <div class="caption">
                <div class="post-content" itemprop="articleBody">
                    <p>
                        It would be used in many kind of corporate business. It is stated with 14 different colours. Users can mount colours by themselves into their website. IgniTo interface is simple, presenting no difficulty for users. It is inclined with 15 pages which helps the users to use it on the go. It is also SEO friendly. FontAwesome plug-in is attached with the theme so that users can choose number of icons.
                    </p>
                    <ul>
                        <li>
                            Documention Documentation contents step by step instruction to use the temple. I hope you will not find difficulties.
                        </li>
                        <li>
                            Template Template contains actual template files. It contains all html files and related assets.
                        </li>
                    </ul>
                    <br/>
                    <br/>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <a href="http://www.dynasofts.com/themes/Ignito/" class="btn btn-default btn-block" target="_blank">View Demo</a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://github.com/keshavkatwe/ignito" class="btn btn-default btn-block" target="_blank">Github</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                {% include shares.html title=page.title thumbnail=page.thumbnail %}
            </footer>
        </article>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">About the project</div>
            <div class="panel-body">
                <dl>
                    <dt>Project for: </dt>
                    <dd>Personal</dd>
                    <dt>Role: </dt>
                    <dd>Web Design</dd>
                    <dt>Duration </dt>
                    <dd>2 weeks</dd>
                    <dt>Team:</dt>
                    <dd>
                        <ul>
                            <li>Keshav M. Katwe</li>
                            <li>Ishwar M. Katwe</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Tools</div>
            <div class="panel-body">
                <ul class="tools">
                    <li>HTML</li>
                    <li>CSS3</li>
                    <li>LESS</li>
                    <li>Bootstrap 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>