<div class="share-icons">
    <p>Share story</p>
    <hr/>
    
    <ul>
        <li> 
            <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url | prepend: site.baseurl}}"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
               target="_blank" title="Share on Facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/share?url={{page.url | prepend: site.baseurl}}&via=TWITTER_HANDLE&text={{page.title}}"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
               target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url={{page.url | prepend: site.baseurl}}"
               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
               target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
               href="//pinterest.com/pin/create/link/?url={{page.url | prepend: site.baseurl}}&media={{page.thumbnail}}&description={{page.title}}"><i class="fa fa-pinterest"></i></a>
        </li>
        <li>
            <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
               href="//www.linkedin.com/shareArticle?mini=true&url={{page.url | prepend: site.baseurl}}"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
            <a onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;" href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site {{page.url | prepend: site.baseurl}}"
               title="Share by Email">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </ul>
</div>
