
.blog-wrapper
{
    position: relative;
    background-image: url(/img/bg.jpg);
    height: 250px;
    background-position: center;
    background-size: 100% auto;

    .filter
    {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: -15px;
        background-color: rgba(44, 51, 64, 0.8);
    }
}

.blog-content, .home-blog
{
    margin-top: -100px;
    .thumbnail
    {
        padding: 0;
        border-radius: 0;
        border: 0;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

        figure
        {
            position: relative;
            overflow: hidden;

            img
            {
                @include animate(all);
            }

            figcaption
            {
                position: absolute;
                background-color: $themePrimaryColor;
                color:$white;
                top: 15px;
                right: 15px;
                padding: 5px 15px;

                .date
                {
                    display: block;
                    font-size: 20px;
                    font-weight: 800;
                    letter-spacing: 1px;
                    text-align: center;
                }

                .year
                {
                    font-size: 13px;
                    text-transform: capitalize;
                    font-weight: 700;
                    text-align: center;
                }
            }

            img
            {
                width: 100%;
            }
        }

        .caption
        {
            padding: 10px 25px;
            text-align: center;

            .category
            {
                color: #5F5F5F;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
            }

            .title
            {
                color: #1F1F1F;
            }
        }


        &:hover
            {
            figure img
            {
                transform: scale3d(1.1, 1.1, 1);
            }
        }
    }

    .post
    {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        background-color: $white;



        .post-header
        {
            text-align: center;

            figure
            {
                margin-bottom: 10px;
                img
                {
                    width: 100%;
                }
            }

            .category
            {
                color: #5F5F5F;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
            }

            .post-title
            {
                color: #1F1F1F;
                text-transform: uppercase;
                font-size: 24px;
                margin: 26px 50px;
                font-weight: 600;
            }

            .post-meta
            {
                color: $grey;
                font-weight: 400;
            }


        }

        .caption
        {
            padding: 20px 30px;


            .post-content
            {
                margin-top: 0;
                font-size: 16px;


                blockquote
                {

                    position: relative;
                    border-left: 0;
                    padding: 5px 20px;
                    font-weight: 300;
                    font-style: italic;
                    text-align: center;

                    &:before
                        {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\f10e";
                        color: $themePrimaryColor;
                    }
                }

                figure
                {
                    padding: 10px;
                    img
                    {
                        width: auto;
                        max-width: 100%;
                    }

                    figcaption
                    {
                        text-align: center;
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }

                ul
                {
                    padding-left: 20px;
                    list-style: square;
                }
            }
        }

        footer
        {

        }
    }
}

.home-blog
{
    margin-top: 50px;

    h1
    {
        margin-bottom: 30px;
    }
}