/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 May, 2016, 6:09:40 PM
    Author     : Keshav
*/

.panel
{
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

    .panel-heading
    {
        border: 0;
        border-radius: 0;
        font-weight: 700;
        text-transform: capitalize;
    }
}

.panel-primary > .panel-heading
{
    background-color: $themePrimaryColor;
}

.panel-default > .panel-heading
{
    background-color: $white;
    border-bottom: 1px solid #D2D2D2;
}

dl
{
    dd
    {
        margin-bottom: 20px;
    }
}