.land-wrapper
{
    position: relative;
    background-image: url(/img/bg.jpg);
    height: 80vh;
    background-size: 100% auto;

    .filter
    {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-left: -15px;
        background-color: rgba(44, 51, 64, 0.8);


        .short-about-me
        {
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
            /*width: 800px;*/
            max-width: 100%;
            background-color: $white;
            margin: 150px auto;
            margin-bottom: 0;
            padding: 30px 30px;
            color:#3d4451;
            padding-bottom: 0;


            @include respond-to(xs)
            {
                padding: 20px;
                padding-bottom: 0;
                margin: 120px auto;
            }

            .profile-preword
            {
                @include respond-to(xs)
                {
                    margin-top: 25px;
                }
            }

            .helloicon
            {
                position: relative;
                background-color: $themePrimaryColor;
                color: $white;
                text-transform: uppercase;
                padding: 5px 10px;

                @include respond-to(xs)
                {
                    margin-top: 20px;
                }

                &:before
                    {
                    width: 0;
                    height: 0;
                    border-left: 0px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $themePrimaryColor;
                    content: "";
                    bottom: -10px;
                    position: absolute;
                    left: 8px;
                }
            }

            h1
            {
                margin-bottom: 0;
                text-transform: capitalize;
            }

            .job-desp
            {
                font-size: 16px;
                font-weight: 400;
            }

            .dl-horizontal
            {
                dt
                {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 12px;
                }

                dd
                {
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }

            address
            {
                margin-bottom: 60px;
            }

            .social-shares
            {
                height: 80px;
                background-color: $themePrimaryColor;
                margin-left: -30px;
                margin-right: -30px;
                text-align: center;


                @include respond-to(xs)
                {
                    margin-left: -20px;
                    margin-right: -20px;
                }
                ul
                {
                    display: inline-block;
                    padding: 0;
                    list-style: none;

                    li
                    {
                        float: left;

                        a
                        {
                            color: $white;
                            font-size: 20px;

                            height: 40px;
                            width: 40px;
                            display: inline-block;
                            line-height: 40px;
                            margin: 20px 30px;
                            border-radius: 50%;
                            @include animate(all);

                            @include respond-to(xs)
                            {
                                margin: 20px 10px;
                            }

                            &:hover, &:focus, &:active
                                {
                                background-color: rgba(0, 0, 0, 0.15);
                            }
                        }
                    }
                }
            }
        }
    }
}

.about
{
    padding-top: 120px;

    @include respond-to(xs)
    {
        padding-top: 530px;
    }

    .btn-default
    {
        background-color: transparent;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 20px 40px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .about-me-long
    {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 300;
    }
}

.professional-skills
{
    margin-top: 50px;


    h1
    {
        margin-bottom: 30px;
    }

    .box
    {
        background-color: $white;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        padding: 0 40px;

        @include respond-to(xs){
            padding: 0 20px;
        }

        .grp
        {
            margin: 30px 0;
            .progress
            {
                height: 5px;
                box-shadow: none;
                background-color: lighten($themePrimaryColor, 30%);

                .progress-bar
                {
                    background-color: $themePrimaryColor;
                }
            }
        }
    }
}

.portfolio
{
    margin-top: 50px;

    h1
    {
        margin-bottom: 30px;
    }

    .nav-tabs
    {
        display: inline-block;
        border: 0;

        li
        {
            a
            {
                text-transform: uppercase;
                color: inherit;
                font-weight: 600;
                font-size: 14px;
                border-bottom: 4px solid $white;
                border-radius: 0;
            }

            &.active
            {
                a
                {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    border: 0;
                    border-bottom: 4px solid $themePrimaryColor;
                }
            }
        }
    }

    .tab-content
    {
        margin-top: 30px;
    }

    .project
    {
        position: relative;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        img
        {
            width: 100%;
        }
        figcaption
        {
            opacity: 0;
            @include animate(all);
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(44, 51, 64, 0.8);
            top: 0;


            .main
            {
                position: absolute;
                bottom: 20px;
                left: 10px;

                h4
                {
                    color: $white;
                    font-weight: 600;
                }

                .category
                {
                    color: #B9B9B9;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 800;
                    margin-bottom: 10px;
                }

                a
                {
                    padding: 6px 10px;
                    color: $themePrimaryColor;
                    border: 1px solid #9a9da2;
                    border-radius: 4px;
                }
            }
        }


        &:hover
            {
            figcaption
            {
                opacity: 1;
            }
        }
    }

}

.work-experience
{
    margin-top: 50px;
    h1
    {
        margin-bottom: 30px;
    }

    .timeline
    {
        .timeline-panel
        {
            padding: 20px 25px;

            @include respond-to(xs){
                padding: 15px 20px;
            }


            .year
            {
                text-align: center;
                color: $themePrimaryColor;
                font-size: 16px;
                font-weight: 700;
            }

            .company-name
            {
                text-align: center;
                text-transform: uppercase;
                display: block;
                color: inherit;
                font-size: 20px;
            }

            .designation
            {
                font-size: 12px;
                text-align: center;
                margin-top: 10px;
                font-weight: 600;
                color: $grey;
            }

            .description
            {
                font-size: 16px;
                color: #696969;
                font-weight: 500;
                margin-top: 25px;
            }
        }
    }
}

.education
{
    margin-top: 0px;
    h1
    {
        margin-bottom: 30px;
    }

    .timeline
    {
        .timeline-panel
        {
            padding: 20px 25px;

            .year
            {
                color: $themePrimaryColor;
                font-size: 16px;
                font-weight: 700;
            }

            .degree
            {
                color: inherit;
                font-size: 22px;
            }

            .college
            {
                font-size: 12px;
                margin-top: 10px;
                font-weight: 600;
                color: $grey;
            }

        }
    }
}

.awards
{
    h1
    {
        margin-bottom: 30px;
    }

    .box
    {
        background-color: $white;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        padding: 30px 40px;

        h4
        {
            font-weight: 600;
        }
    }
}

.contact-us
{
    margin-top: 50px;
    h1
    {
        margin-bottom: 50px;
    }

    .box
    {
        height: 600px;
        overflow: hidden;
        background-color: $white;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

        @include respond-to(xs)
        {
            height: auto;
            margin-bottom: 25px;
        }

        .content
        {
            padding: 30px 40px;

            @include respond-to(xs)
            {
                padding: 20px 25px;
            }

            h4
            {
                font-size: 20px;
                font-weight: 600;
            }


            .btn-primary
            {
                padding: 14px 50px;
                border-radius: 2px;
            }

            .dl-horizontal
            {
                dt
                {
                    text-align: left;
                    text-transform: uppercase;
                    font-size: 12px;
                    width: 100px;

                    @include respond-to(xs)
                    {
                        float: left;
                    }
                }

                dd
                {
                    font-weight: 400;
                    margin-bottom: 10px;
                    margin-left: 100px;
                }
            }

            address
            {
                margin-bottom: 0px;
            }
        }

        iframe
        {
            width: 100%;
        }
    }
}