//Header
.navbar-default
{
    background-color: transparent;
    border: 0;
    margin: 15px 0;
    
    .navbar-brand
    {
        font-family: 'Fredoka One', cursive;
        color: $grey;
        font-size: 25px;
        
        
        span
        {
            color: $themePrimaryColor;
        }
    }
    
    .navbar-nav
    {
        
        li
        {
            a
            {
                font-size: 14px;
                color: $grey;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}