.share-icons
{
    padding: 0px 30px;
    text-align: center;
    ul
    {
        list-style: none;
        padding: 0;
        display: inline-block;

        li
        {
            float: left;

            a
            {
                font-size: 18px;
                color: #C3C3C3;
                margin: 0 25px;
            }
        }
    }
}